name: Release_Stable

on:
    push:
      tags:
          - '**'
          
jobs:
  build_artifact:    
    name: Build and upload artifact
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Build with dotnet
      run: |
        dotnet build --configuration Release --source https://api.nuget.org/v3/index.json src/Refit.Extensions.Nacos/Refit.Extensions.Nacos.csproj
        dotnet build --configuration Release --source https://api.nuget.org/v3/index.json src/WebApiClient.Extensions.Nacos/WebApiClient.Extensions.Nacos.csproj
        dotnet build --configuration Release --source https://api.nuget.org/v3/index.json src/WebApiClientCore.Extensions.Nacos/WebApiClientCore.Extensions.Nacos.csproj
    - name: Pack with dotnet
      run: |
        dotnet pack src/Refit.Extensions.Nacos/Refit.Extensions.Nacos.csproj -o /home/runner/work/nugetpkgs -c Release --no-build
        dotnet pack src/WebApiClient.Extensions.Nacos/WebApiClient.Extensions.Nacos.csproj -o /home/runner/work/nugetpkgs -c Release --no-build
        dotnet pack src/WebApiClientCore.Extensions.Nacos/WebApiClientCore.Extensions.Nacos.csproj -o /home/runner/work/nugetpkgs -c Release --no-build
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: nugetpkgs
        path: /home/runner/work/nugetpkgs  

  release_nuget:
      name: Release to Nuget
      needs: build_artifact
      runs-on: ubuntu-latest
  
      steps:
        - name: Download build artifacts
          uses: actions/download-artifact@v1
          with:
            name: nugetpkgs
        - name: list nugetpkgs
          run: ls nugetpkgs
        - name: Release
          run: |
            for file in nugetpkgs/*.nupkg
            do
              dotnet nuget push $file -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate -s https://www.nuget.org/api/v2/package
            done
